@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_shop";
    Layout = null;

}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>拍卖图录登录页</title>
    <meta name="keywords" content="非极致不登台拍卖图录" />
    <meta name="description" content="非极致不登台拍卖图录" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="~/source/static/css/1905_base_1_30.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/1905_style.css">
    <link rel="stylesheet" href="~/source/static/css/1905_pagination.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/style-index.css" type="text/css" />
    <style>
                body {
                    background: #fff;
                    max-width: 750px;
                    margin: auto;
                    /*-webkit-overflow-scrolling: touch;*/
                }

                .store-con .list1 {
                    height: auto;
                }

                .store-con {
                    /* overflow: hidden; */
                }

                #mark .markitem {
                    color: #999;
                    font-size: .24rem;
                    text-align: center;
                    float: left;
                    width: 24.5%;
                    height: .8rem;
                    line-height: .8rem;
                    border-bottom: 1px solid #f6f6f6;
                    border-right: 1px solid #f6f6f6;
                }



                    #mark .markitem:nth-child(4n+4) {
                        border-right: 1px solid #fff;
                    }

                    #mark .markitem:nth-child() {
                        border-right: 1px solid #fff;
                    }

                .active {
                    color: #bd2727 !important;
                }

                .nb {
                    border-bottom: 1px solid #fff !important;
                }

                .list1 .item1 {
            text-align: center;
            width: 49%;
            float: left;
            height: 5rem;
            padding-top: .2rem;
            border-right: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }

    </style>
</head>

<body>
    <header></header>
    <div class="div-h-8"></div>
	<div class="banner">
        <img src="/source/static/images/pc/paimai.jpg" alt="" />
    </div>
	 <div ">
	 
	 </div>
    <section class="store-wrap">
        <div  style="bottom: 0;height: 1rem;text-align: center;align-items: center;border-top: 0px solid #c90319;width: 100%;z-index: 99;">
            <div class="flex-col searchzx" style="background: #fff;height: 1rem;margin-top:3em;">
			
                <input style="height: 100%;width: 97%; background: #fff;border: 1px solid #c90319;" id="txt_Telephone" class="px36" type="text" placeholder="请输入手机号码提交进入">
            </div>
			
            <div class="ssbtnzx px36" id="searchBtn" style="height: 1rem;width:2.34rem; line-height: 1rem;margin:20px auto;">提交进入</div>
        </div>
    </section>
    <!-- 底部导航 -->
</body>

</html>
<script src="/source/static/js/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $("#searchBtn").on("click", function () {
        var telephone = $("#txt_Telephone").val();
        if (telephone == "") {
            alert("请输入您的手机号！");
            return false;
        }
        $.ajax({
            url: "CheckTelephone",
            type: 'POST',
            async: false,
            data: { telephone: telephone },
            success: function (data) {
                if (data == false) {
                    alert("您输入的手机号不合法！");
                }
                else {
                    window.location.href = "/W11/paimai?telephone=" + telephone;
                }
            }
        });
    });
</script>