body {
            background: #fff;
            max-width: 750px;
            margin: auto;
            /*-webkit-overflow-scrolling: touch;*/
        }

        .color_red_c9 {
            color: #c90319;
        }

        .ssbtn {
            width: 1rem;
            background: #c90319;
            color: white;
            height: .56rem;
            line-height: .56rem;
            text-align: center;
            border-radius: 0 3px 3px 0;
        }

        .search {
            background: #f7f7f7;
            height: 0.56rem;
            border-radius: 3px;
        }

        .ssbtnzx {
            width: 2rem;
            background: #c90319;
            color: white;
            height: .7rem;
            line-height: .7rem;
            text-align: center;
            border-radius: 0 3px 3px 0;
        }

        .searchzx {
            background: #f7f7f7;
            height: 0.7rem;
            border-radius: 3px;
        }

        .banner {
            overflow: hidden;
            border-radius: 5px;
            margin: 0rem .256rem;
        }

        .banner img {
            width: 100%;
        }

        .part1 {
            background: white;
            padding: 0.256rem;
            border-top: .1rem solid #f7f7f7;
        }

        .list {
            overflow: hidden;
            /*height: 7rem;*/
            position: relative;
        }

        .list .item {
            text-align: center;
            width: 33.3%;
            float: left;
            height: 3.7rem;
            margin-top: .2rem
        }

        .list .item .t1 {
            margin-top: .2rem;
            font-size: .28rem;
        }

        .list .item .pimg {
            height: 1.4rem;
            margin-top: .1rem;
            width: 100%;
            background-size: 100% !important;
            background-position: center !important;
        }

        .bt-zx {
            margin-top: .2rem;
            width: 1.34rem;
            height: .5rem;
        }
        /* 大师推荐 */
        .list1 {
            overflow: hidden;
            height: 14.1rem;
            position: relative;
        }

        .list1 .item1 {
            text-align: center;
            width: 50%;
            float: left;
            height: 4.7rem;
            margin-top: .2rem
        }

        /*.list1 .item1 .t1 {
            margin-top: .2rem;
            font-size: .18rem;
        }*/
            .list1 .item1 .t1 {
                margin-top: .2rem;
                font-size: .28rem;
            }


        .list1 .item1 .pimg {
            height: 2.5rem;
            /* margin-top: .1rem; */
            width: 100%;
            background-size: 100% !important;
            background-position: center !important;
        }
        
        .swiper_container_suz2 {
            width: 100%;
            /* padding-left:3%; */
            height: 2.94rem;
            overflow: hidden;
            position: relative;
            background: #fff;
        }
        .swiper_container_suz2 .swiper-slide:last-child img{
            border-right:.06rem solid #000;
            width: 5.27rem;
        }
        .swiper_container_suz2 .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            line-height: 1.3rem;
            height: 2.8rem;
            margin-top: 0rem;
            position: relative;
            /* border-top: 3px solid #000;
            border-bottom: 3px solid #000;
            border-left: 3px solid #000; */
            /*-webkit-transform:scale(0.8);*/
        }
        .swiper_container_suz2 .swiper-slide img {
            width: 5.36rem;
            height: 100%;
            display: block;
            border-top: 3px solid #000;
            border-bottom: 3px solid #000;
            border-left: .06rem solid #000;
        }
        /* 名家 */
    
		#swiper-container-star {
			width: 100%;
			height: 3.6rem;
		}

		#swiper-container-star a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

		#swiper-container-star a img {
			width: 100%;
			height: 2.6rem;
		}
		#swiper-container-star a #headimg {
			width: 100%;
			height: 2.6rem;
		}

		.star-describe {
			width: 100%;
			height: 1rem;
			background-color: white;
			text-align: center;
			overflow: hidden;
		}

		.star-describe p:nth-child(1) {
			font-size: 0.37rem;
			line-height: 0.37rem;
			color: #cc3333;
			padding-top: 0.106rem;
			padding-bottom: 0.106rem;
		}

		.star-describe p:nth-child(2) {
			font-size: 0.26rem;
			line-height: 0.26rem;
			color: #333333;
		}

		.store{
            margin-top: .35rem;
            height: auto;
            border: 1px solid #ccc;
            background: #f7f7f7;
            border-radius: 15px;
        }
        #menupart {
			height: 100%;
			width: 80%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1001;
		}

        #menumark{
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left:0;
            background: rgba(99, 99, 99, 0.5);
            z-index: 98;
        }
        #menupart .menu-body{
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
            width: 100%;
            height: 100%;
            overflow: auto;
            padding-top: 1.2rem;
            padding-bottom: 1.06rem;
            box-sizing: border-box;
            padding-left: .2rem;
            padding-right: .2rem;
        }
        .menu-cate-part{
            width: 100%;
            position: relative;
            text-align: center;
        }
        .menu-cate-title{
            height: .7rem;
            position: relative;
            line-height: .7rem;
            font-size: 0.24rem;
            background: white;
            margin: auto;
            width: 1.5rem;
            z-index: 1;
        }
        .cate-list{
            background: #fff;
            overflow: hidden;
        }
        .cate-list .item{
            float: left;
            width: 33.3%;
        }
        .cate-list .item div{
            height: 0.6rem;
            line-height: 0.6rem;
            text-align: center;
            font-size: 0.22rem;
            color: #666;
            margin: .15rem;
            background: #f6f6f6;
            border: 1px solid #e6e6e6;
        }
        .back-tag {
            border-top: 1px solid #c90319;
            border-left: 1px solid #c90319;
            height: 0.15rem;
            width: 0.15rem;
            float: right;
            margin: .15rem .15rem;
            transform: rotate(315deg);
            -o-transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
            -moz-transform: rotate(315deg);
        }   
        .line{
            width: 100%;
            height: 1px;
            background: #f0f0f0;
            position: absolute;
            top: 16px;
        }
        .w_50{
            width: 50% !important;
        }
       
        .px22{
            font-size: .22rem
        }
        .totop {
            position: fixed;
            height: auto;
            z-index: 99999;
            top: 8.5rem;
            right: 0.4rem;
        }
        /*.swiper-container {
            width: 5.32rem;
            height: 3.26rem;
        }*/ 
        /*包裹自定义分页器的div的位置等CSS样式*/
        .swiper-pagination-custom {
         bottom: .3rem
        }
        /*自定义分页器的样式，这个你自己想要什么样子自己写*/
        .swiper-custom {
            width: .1rem;
            height: .1rem;
            display: inline-block;
            background: #666;
            opacity: .3;
            margin: 0 5px;
            border-radius: 50%;
            margin: 0 .3rem
        }
        /*自定义分页器激活时的样式表现*/
        .swiper-custom-active {
            opacity: 1;
            width: 1.2rem;
            background-color: #F78E00;
        }
        /* 名家名堂 */
        .mj-item:nth-child(2n+1){
            margin-left: .0rem;
        }
        .mj-item{
            height: 2.8rem;
            /* width: 3.39rem; */
            width: 48.5%;
            margin-left: .2rem;
            margin-bottom: .2rem;
            float:left;
            background: #F8F8F8
        }
        .mj-item img{
            display: block;
           width: 100%;
           height:1.9rem;
        }
        .mj-item .t1{
            margin-top: .2rem;
            font-size:.22rem;
            font-family:SourceHanSansCN-Normal;
            font-weight:400;
            color:rgba(38,38,38,1);
            line-height:.22rem;
            height:.22rem;
            margin-left: .15rem
        }
        .mj-item .t2{
            margin-top: .11rem;
            height:.16rem;
            font-size:.16rem;
            font-family:SourceHanSansCN-Light;
            font-weight:300;
            color:rgba(115,115,115,1);
            line-height:.16rem;
            margin-left: .15rem
        } 
        /* 器形 | 釉色 */
        .qxys-item:nth-child(2n+1){
            margin-left: .0rem;
        }
        .qxys-item{
            height: 1.19rem;
            width: 48.5%;
            margin-left: .2rem;
            margin-bottom: .2rem;
            float:left;
            background: #F8F8F8
        }
        .qxys-item img{
            display: block;
           width: 1.77rem;
           height:1.19rem;
        }
        .qxys-item .t1{
            margin-top: .14rem;
            font-size:.2rem;
            font-family:SourceHanSansCN-Normal;
            font-weight:400;
            color:rgba(38,38,38,1);
            line-height:.2rem;
            height:.2rem;
            margin-left: .03rem;
        }
        .qxys-item .t2{
            margin-top: .08rem;
            font-size:.16rem;
            font-family:SourceHanSansCN-Light;
            font-weight:300;
            color:rgba(115,115,115,1);
            line-height:.2rem;
            margin-left: .15rem;
            margin-right: .1rem;
        }   
        .qxys-item .t3{
            margin-right: .15rem;
            height:.16rem;
            font-size:.16rem;
            font-family:SourceHanSansCN-Light;
            font-weight:300;
            color:rgba(150,8,27,1);
            line-height:.24rem;
            text-align: right
        } 
         /* 大师推荐 */
         .ds-list {
            overflow: hidden;
            height: auto;
            position: relative;
        }
        .ds-list .ds-item:nth-child(2n+1){
            margin-left: .0rem;
        }
        .ds-list .ds-item {
            text-align: center;
            /* width: 3.39rem; */
            width: 48.5%;
            float: left;
            /* height: 3.97rem; */
            margin-left: .2rem;
            margin-top: .2rem;
            background: #f0f0f0;
        }
        .ds-list .dhxj {
            margin-top: .2rem !important;
            background: #B32B2B;
            color: #fff;
            height: .6rem !important;
            width: 100% !important;
            line-height: .6rem;
            border-radius: 0px !important;
        }


        .ds-list .ds-item .t1 {
            height: .26rem;
            font-size: .24rem;
            line-height: .26rem;
            font-family: SourceHanSansCN-Light;
            margin-left: -.1rem;
            text-align: center;
            color: rgba(38,38,38,1);
        }
        .ds-list .ds-item  .t2 {
            height:.22rem;
            text-align: left;
            line-height: .22rem;
            font-size:.2rem;
            font-family:SourceHanSansCN-Normal;
            color:rgba(153,153,153,1);
        }

        .ds-list .ds-item  .pimg {
            height: 2.36rem;
            /* margin-top: .1rem; */
            width: 100%;
            background-size: 100% !important;
            background-position: center !important;
        }     
        .ds-list .ds-item .bt-zx  {
            margin-top: 0;
            height: .32rem;
            width: .92rem;
            border-radius: 5px;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        background-image: url(/source/static/images/jianzhan_0509/right.png);
        right: 28px;
        left: auto;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        background-image: url(/source/static/images/jianzhan_0509/left.png);
        left: 28px;
        right: auto;
        }
        .lsmd-bg{
            position: relative;
            background:#fbfbfb;
            margin-top: .3rem
        }
        .ic_52{
            width: .52rem;
            height: .52rem;
        }
        .dp-t1{
            font-size: .28rem;
            color: #333;
            padding: .1rem .2rem;
            background:#f0f0f0;
            border-radius: .05rem;
        }
        .dpact{
            color: #fff;
            padding: .1rem .2rem;
            background:#B32B2B;
            border-radius: .05rem;
        }

        #guanzhuweixin-s input {
    float: left;
    margin: 0 5px;
    width: unset !important;
    height: auto !important;
    line-height: auto !important;
    text-align: left;
    background: unset;
    border: 0px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: .2rem;
}
