@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = "mn_shop";
    Layout = null;

}


<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>建盏商城 - 建盏天下网</title>
    <meta name="keywords" content="曜变盏,天目盏,兔毫盏,油滴盏,束口盏" />
    <meta name="description" content="建盏商城是福建省建窑建盏首席品牌商城，提供产地大师名家直供的一手精品货源：兔毫盏、油滴盏、曜变盏、鹧鸪斑、金油滴、敛口盏、束口盏，提供建盏价格、收藏、名家押窑和私人定制服务。" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="~/source/static/css/1905_base_1_30.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/1905_style.css">
    <link rel="stylesheet" href="~/source/static/css/1905_pagination.css" type="text/css">
    <link rel="stylesheet" href="~/source/static/css/style-index.css" type="text/css" />
    <style>
                body {
                    background: #fff;
                    max-width: 750px;
                    margin: auto;
                    /*-webkit-overflow-scrolling: touch;*/
                }

                .store-con .list1 {
                    height: auto;
                }

                .store-con {
                    /* overflow: hidden; */
                }

                #mark .markitem {
                    color: #999;
                    font-size: .24rem;
                    text-align: center;
                    float: left;
                    width: 24.5%;
                    height: .8rem;
                    line-height: .8rem;
                    border-bottom: 1px solid #f6f6f6;
                    border-right: 1px solid #f6f6f6;
                }



                    #mark .markitem:nth-child(4n+4) {
                        border-right: 1px solid #fff;
                    }

                    #mark .markitem:nth-child() {
                        border-right: 1px solid #fff;
                    }

                .active {
                    color: #bd2727 !important;
                }

                .nb {
                    border-bottom: 1px solid #fff !important;
                }

                .list1 .item1 {
            text-align: center;
            width: 49%;
            float: left;
            height: 5rem;
            padding-top: .2rem;
            border-right: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }

    </style>
</head>

<body>
    <header></header>
    <div class="div-h-8"></div>
    <section class="store-wrap">
        <div class="flex-row " style="bottom: 0;height: 1rem;text-align: center;align-items: center;border-top: 0px solid #f6f6f6;width: 100%;z-index: 99;">
            <div class="flex-col searchzx" style="background: #fff;height: .5rem;border: 1px solid #eee;">
                <input style="height: 100%;width: 90%; background: #fff" id="txt_Telephone" class="px24 pad-l-30" type="text" placeholder="请输入手机号码查看">
            </div>
            <div class="ssbtnzx px24" id="searchBtn" style="height: .5rem;margin-left: .12rem;width:1.34rem;line-height: .5rem">立即查看</div>
        </div>
    </section>
    <!-- 底部导航 -->
</body>

</html>
<script src="~/source/static/js/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $("#searchBtn").on("click", function () {
        var telephone = $("#txt_Telephone").val();
        if (telephone == "") {
            alert("请输入您的手机号！");
            return false;
        }
        $.ajax({
            url: "CheckTelephone",
            type: 'POST',
            async: false,
            data: { telephone: telephone },
            success: function (data) {
                if (data == false) {
                    alert("您输入的手机号不合法！");
                }
                else {
                    window.location.href = "/1111/mn_shop?telephone=" + telephone;
                }
            }
        });
    });
</script>