@{
    ViewBag.Title = "college";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";    
}

<head>
    <meta charset="utf-8">
    <meta content="小匠专场拍卖" http-equiv="keywords">
    <meta name="description" content="小匠专场拍卖">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <title>名家</title>
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_college.css" type="text/css">
</head>


<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="">建盏商城</a>
        <div>&nbsp; &gt;&nbsp; </div>
        <a href="">孙建兴大师</a>
    </div>
    <div class="div-h-2"></div>
    <img src="/source/static//images/pc/0809.png" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>

    <div class="flex-row" style="align-items: center;padding: 0 .2rem">
        <div class="flex-col p6-item  p6-item-act">
            学院首页
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            新闻资讯
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            实拍行情
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            建盏工艺
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            百科知识
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            选盏技巧
        </div>
        <div style="height: .27rem;width:1px;background:#434343;margin:0rem .2rem"></div>
        <div class="flex-col p6-item">
            文化历史
        </div>
    </div>
    <div class="flex-row jz-body">
        <div class="right flex-col">

            <div class="list-4">
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                font-weight:bold;">新闻资讯</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                <div class="flex-row" style="padding: .2rem 0;
                    border-bottom: #eee solid 0px;">

                    <div style="width: 3.6rem;
                        height: 2.4rem;position: relative;background: #fff">
                        <img style="margin:.07rem;height:2.26rem;width:3.46rem" src="/source/static/images/pc/jz1.png" alt="">
                        <div style="line-height: .6rem;text-align: center;height:.6rem;width:100%;position:absolute;bottom:0;left:0;font-size: .22rem;color: #fff;background: rgba(0, 0, 0,.3)">
                            陈大鹏 中国国家工艺师
                        </div>
                    </div>
                    <div style="width:.28rem"></div>
                    <div class="flex-col">

                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>

                    </div>
                </div>
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                    font-weight:bold;">新闻资讯</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                <div class="flex-row" style="padding: .2rem 0;
                    border-bottom: #eee solid 0px;">

                    <div style="width: 3.6rem;
                        height: 2.4rem;position: relative;background: #fff">
                        <img style="margin:.07rem;height:2.26rem;width:3.46rem" src="/source/static/images/pc/jz1.png" alt="">
                        <div style="line-height: .6rem;text-align: center;height:.6rem;width:100%;position:absolute;bottom:0;left:0;font-size: .22rem;color: #fff;background: rgba(0, 0, 0,.3)">
                            陈大鹏 中国国家工艺师
                        </div>
                    </div>
                    <div style="width:.28rem"></div>
                    <div class="flex-col">

                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>

                    </div>
                </div>
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                    font-weight:bold;">新闻资讯</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                <div class="flex-row" style="padding: .2rem 0;
                    border-bottom: #eee solid 0px;">

                    <div style="width: 3.6rem;
                        height: 2.4rem;position: relative;background: #fff">
                        <img style="margin:.07rem;height:2.26rem;width:3.46rem" src="/source/static/images/pc/jz1.png" alt="">
                        <div style="line-height: .6rem;text-align: center;height:.6rem;width:100%;position:absolute;bottom:0;left:0;font-size: .22rem;color: #fff;background: rgba(0, 0, 0,.3)">
                            陈大鹏 中国国家工艺师
                        </div>
                    </div>
                    <div style="width:.28rem"></div>
                    <div class="flex-col">

                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>

                    </div>
                </div>
                <div class="flex-row" style="padding:.2rem 0 0rem;background: #fff;">
                    <div class="px18" style="font-family:SourceHanSansCN-Bold;
                                                    font-weight:bold;">新闻资讯</div>
                    <div class="flex-col"></div>
                    <div class="px14 color_73">MORE 》</div>
                </div>
                <img src="/source/static//images/pc/6_top_line.png" alt="">
                <div class="flex-row" style="padding: .2rem 0;
                    border-bottom: #eee solid 0px;">

                    <div style="width: 3.6rem;
                        height: 2.4rem;position: relative;background: #fff">
                        <img style="margin:.07rem;height:2.26rem;width:3.46rem" src="/source/static/images/pc/jz1.png" alt="">
                        <div style="line-height: .6rem;text-align: center;height:.6rem;width:100%;position:absolute;bottom:0;left:0;font-size: .22rem;color: #fff;background: rgba(0, 0, 0,.3)">
                            陈大鹏 中国国家工艺师
                        </div>
                    </div>
                    <div style="width:.28rem"></div>
                    <div class="flex-col">

                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>
                        <a class="info clamp1">
                            ·建盏身价为何倍涨？面对建盏价格上涨的趋势？ ·建盏，中国说第二，没人敢说第一！ ·以款识别瓷器，如管中窥斑点猫，一叶障目不见
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div style="width:.45rem"></div>
        <!-- 右边的布局 -->
        <div class="left">
            <div class="flex-row leftdownline">
                <div class="px16" style="font-family:SourceHanSansCN-Bold;
                                    font-weight:bold;"><span style="color:#B32735">建盏</span>推荐</div>
                <div class="flex-col"></div>
                <div class="px14 color_73">MORE 》</div>
            </div>
            <div class="div-h-2"></div>
            <div class="ds-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/ds1.png)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                        <div class="flex-col t1 clamp1">【小撇口金油滴】</div>
                        <img class="bt-zx" src="/source/static/images/jianzhan_0509/ds_zx.png">
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">编号：67047</div>
                        <div class="t2 clamp1 flex-col">作者：黄美金</div>
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">器形：束口盏</div>
                        <div class="t2 clamp1 flex-col">釉色：油滴/鹧鸪斑</div>
                    </div>
                </div>
            </div>

            <div class="div-h-2"></div>
            <div class="ds-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/ds1.png)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                        <div class="flex-col t1 clamp1">【小撇口金油滴】</div>
                        <img class="bt-zx" src="/source/static/images/jianzhan_0509/ds_zx.png">
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">编号：67047</div>
                        <div class="t2 clamp1 flex-col">作者：黄美金</div>
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">器形：束口盏</div>
                        <div class="t2 clamp1 flex-col">釉色：油滴/鹧鸪斑</div>
                    </div>
                </div>
            </div>
            <div class="div-h-2"></div>
            <div class="ds-item">
                <div class="pimg" style="background:url(/source/static/images/jianzhan_0509/ds1.png)"></div>
                <div class="flex-row" style="flex-direction: column">
                    <div class="flex-row mar-t-15" style="align-items: center;padding: 0 .13rem">
                        <div class="flex-col t1 clamp1">【小撇口金油滴】</div>
                        <img class="bt-zx" src="/source/static/images/jianzhan_0509/ds_zx.png">
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">编号：67047</div>
                        <div class="t2 clamp1 flex-col">作者：黄美金</div>
                    </div>

                    <div class="flex-row pad-t-16" style="padding: 0 .13rem">
                        <div class="t2 clamp1 flex-col">器形：束口盏</div>
                        <div class="t2 clamp1 flex-col">釉色：油滴/鹧鸪斑</div>
                    </div>
                </div>
            </div>
            <div class="div-h-2"></div>
        </div>
    </div>
    <div class="div-h-4"></div>
    <!-- 最新专题 -->
    <div style="text-align: center;">
        <img src="/source/static/images//pc/5_title.png" alt="">
    </div>
    <div class="div-h-4"></div>
    <div class="flex-row">
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb1.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb2.png" alt="">
        </div>
        <div style="width:.15rem"></div>
        <div class="flex-col">
            <img class="hb_5" src="/source/static/images/pc/5_hb3.png" alt="">
        </div>
    </div>

</div>
