@{
    ViewBag.Title = "shop";
    Layout = "/Views/Shared/_Layout_PC_web.cshtml";    
}
<head>
    <meta charset="utf-8">
    <meta content="小匠专场拍卖" http-equiv="keywords">
    <meta name="description" content="小匠专场拍卖">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <title>名家</title>
    <link rel="stylesheet" href="/source/static/css/1905_jquery-weui.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pcstyle.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/1906_pagination.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/pc_shop.css" type="text/css">
</head>

<div class="body" style="margin-top:.25rem">
    <div class="flex-row">
        <a href="">建盏商城</a>
        <div>&nbsp; &gt;&nbsp; </div>
        <a href="">孙建兴大师</a>
    </div>
    <div class="div-h-2"></div>
    <img src="/source/static//images/pc/0809.png" style="height:1.2rem" alt="">
    <div class="div-h-4"></div>
    <img src="/source/static//images/pc/line.png" alt="">

    <div class="flex-row jz-body">
        <div class="left">
            <img src="/source/static/images//pc//hot.png" style="margin: .2rem .1rem;" alt="">

            <div class="c1">
                <img src="/source/static/images/pc/jz1.png" alt="">
                <div class="px14 color_f" style="width: 100%;line-height: .34rem;text-align: center;position: absolute;bottom: 0;left: 0;;height: .34rem;;background:rgba(0, 0, 0,.3)">
                    红花阿瑟费几点回
                </div>
            </div>
            <div class="div-h-1"></div>
            <div class="c1">
                <img src="/source/static/images/pc/jz1.png" alt="">
                <div class="px14 color_f" style="width: 100%;line-height: .34rem;text-align: center;position: absolute;bottom: 0;left: 0;;height: .34rem;;background:rgba(0, 0, 0,.3)">
                    红花阿瑟费几点回
                </div>
            </div>
            <div class="div-h-2"></div>
            <div class="c2">
                <img src="/source/static/images/pc/zj3.png" alt="">
                <div class="px14 color_7 texta-c">孙建兴 红烧娃打完</div>
                <div class="div-h-1"></div>
                <div class="px10 color_7 texta-c actcolor">NO:12563</div>
                <div class="div-h-1"></div>
                <div class="zxbt">点击咨询</div>
            </div>
            <div class="div-h-2"></div>
            <div class="c2">
                <img src="/source/static/images/pc/zj3.png" alt="">
                <div class="px14 color_7 texta-c">孙建兴 红烧娃打完</div>
                <div class="div-h-1"></div>
                <div class="px10 color_7 texta-c actcolor">NO:12563</div>
                <div class="div-h-1"></div>
                <div class="zxbt">点击咨询</div>
            </div>
            <div class="div-h-2"></div>
        </div>
        <div style="width:1px;background:#ddd"></div>
        <div class="right flex-col">
            <div class="list">
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist">
                            <div class="li">全部</div>
                            <div class="li">属碱性</div>
                            <div class="li actcolor">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">油&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;舍</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist">
                            <div class="li actcolor">全部</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                        </div>
                    </div>
                </div>
                <div style="height:1px;background:#ddd; margin:.1rem 0"></div>
                <div class="flex-row">
                    <div style="width: 1.22rem;height: .3rem;line-height: .3rem" class="texta-c">油&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;舍</div>
                    <div class="shu"></div>
                    <div class="flex-col">
                        <div class="nvlist">
                            <div class="li actcolor">全部</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                            <div class="li">属碱性</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more">
                更多选项 <img src="/source/static/images/pc/xia.png" alt="">
            </div>
            <div class="div-h-2"></div>
            <div class="flex-row" style="margin-left:.25rem;align-items: center">
                <div class="flex-row" style="height:.4rem;width:3.73rem;border: 1px solid #ddd;align-items: center">
                    <div class="flex-col actsx">
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">默认</div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class="flex-col ">
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%;">
                            <div class="texta-c px14 clr">默认</div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class="flex-col ">
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">默认</div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class="flex-col ">
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">默认</div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                    <div class="shu"></div>
                    <div class="flex-col ">
                        <div class="flex-row" style="align-items: center;justify-content: center;height: 100%">
                            <div class="texta-c px14 clr">默认</div> <img style="display:block;width: 0.1rem;" src="/source/static/images/pc/xia.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="flex-col"></div>
                <div class="flex-row">
                    <div class="px14" style="line-height:.4rem">关键字：</div>
                    <div style="background:#fff;height: .4rem;width: 1.3rem;border: 1px solid #ddd">
                        <input class="px14 color_3" style="width: 1rem;border:0px;background:#fff;padding: .1rem;line-height: .2rem;height: .2rem" type="text">
                    </div>
                    <div class="px14" style="line-height:.4rem;margin-left: .2rem">
                        共<span style="color:#B32735">133</span>款建盏|
                        1/9
                    </div>
                    <div class="px14 color_7 texta-c" style="border: 1px solid #ddd;margin-left: .2rem;width: .75rem;height:.4rem;line-height:.4rem;background:#fff">下一页</div>
                </div>
            </div>
            <div class="div-h-2"></div>
            <div class="cell-list">
                <div class="li">
                    <img src="/source/static/images/pc/zj2.png" alt="">
                    <div class="div-h-2"></div>
                    <div class="px18 color_7 texta-c">孙建兴 红烧娃打完</div>
                    <div class="div-h-2"></div>
                    <div class="px16 color_7 texta-c actcolor">NO:12563</div>
                    <div class="div-h-2"></div>
                    <div class="zxbt">点击咨询</div>
                </div>
                <div class="li">
                    <img src="/source/static/images/pc/zj2.png" alt="">
                    <div class="div-h-2"></div>
                    <div class="px18 color_7 texta-c">孙建兴 红烧娃打完</div>
                    <div class="div-h-2"></div>
                    <div class="px16 color_7 texta-c actcolor">NO:12563</div>
                    <div class="div-h-2"></div>
                    <div class="zxbt">点击咨询</div>
                </div>
                <div class="li">
                    <img src="/source/static/images/pc/zj2.png" alt="">
                    <div class="div-h-2"></div>
                    <div class="px18 color_7 texta-c">孙建兴 红烧娃打完</div>
                    <div class="div-h-2"></div>
                    <div class="px16 color_7 texta-c actcolor">NO:12563</div>
                    <div class="div-h-2"></div>
                    <div class="zxbt">点击咨询</div>
                </div>
                <div class="li">
                    <img src="/source/static/images/pc/zj2.png" alt="">
                    <div class="div-h-2"></div>
                    <div class="px18 color_7 texta-c">孙建兴 红烧娃打完</div>
                    <div class="div-h-2"></div>
                    <div class="px16 color_7 texta-c actcolor">NO:12563</div>
                    <div class="div-h-2"></div>
                    <div class="zxbt">点击咨询</div>
                </div>
            </div>
            <!-- 分页 -->
            <div class="div-h-3"></div>
            <div class="flex-row M-box m-style" style="justify-content: center"><a href="javascript:;" class="prev">&lt;</a><span class="active">1</span><a href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><a href="javascript:;" class="next">&gt;</a></div>

        </div>
    </div>
</div>