<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="maximum-dpr=2" name="flexible" />
    <link rel="stylesheet" href="/source/static/css/flexible_base.css" type="text/css">
    <link rel="stylesheet" href="/source/static/css/admin_pagination.css" type="text/css">
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.2/??flexible_css.js,flexible.js"></script>

    <title>首页</title>
    <style>
        html {
            background: #fafafa;
        }

        .khzxgl {
            background: #fafafa;
        }

            .khzxgl .navheight {
                position: fixed;
                width: 100%;
            }

        .sdss {
            font-size: 22px;
            color: #fff;
            background: #c90319;
            height: .586667rem;
            margin: 0.2rem 0 .2rem .2rem;
            line-height: .586667rem;
            text-align: center;
            width: 1.866667rem;
            border-radius: .066667rem;
        }

        .khzxgl input[type=checkbox] {
            width: .293333rem;
            height: .293333rem;
            text-align: center;
        }

            .khzxgl input[type=checkbox]:after {
                width: 100%;
                height: 100%;
                top: 0px;
                content: " ";
                background-color: White;
                color: #000000;
                display: inline-block;
                visibility: visible;
                border-radius: 2px;
                border: 0px solid black;
            }

            .khzxgl input[type=checkbox][disabled=disabled]:after {
                width: 100%;
                height: 100%;
                top: 0;
                content: " ";
                background-color: #DCDCDC;
                color: #000000;
                display: inline-block;
                visibility: visible;
                border-radius: 2px;
                border: 0px solid #A9A9A9 !important;
            }

            .khzxgl input[type=checkbox]:checked:after {
                content: "\2713";
                /*UNICODE中对号*/
                font-size: 25px;
                line-height: .293333rem;
                font-weight: bold;
            }

        .khzxgl .menu .act {
            color: #c90319;
        }
    </style>
</head>
<body class="khzxgl">
    @RenderBody()
</body>
</html>
<script src="/source/static/js/jquery-2.1.4.js"></script>
<script src="/source/static/js/jquery-weui.js"></script>
<script src="/source/static/js/jquery.pagination.js"></script>
<script src="/source/static/js/utils.js"></script>
<script>
    //$('.M-box').pagination({
    //    count: 3,
    //    mode: 'fixed',
    //    coping: true,
    //    homePage: 'CRM总数(去重2000)',
    //    prevContent: '上页',
    //    nextContent: '下页',
    //});
</script>

@RenderSection("Footer", false);